# PostgreSQL credentials
POSTGRES_USER=charisma
POSTGRES_PASSWORD=charisma
POSTGRES_DB=charisma

# Docker image tags
MIGRATOR_IMAGE=ghcr.io/desmitry/charisma-master-migrator:latest
ML_WORKER_IMAGE=ghcr.io/desmitry/charisma-master-ml-worker:latest
API_GATEWAY_IMAGE=ghcr.io/desmitry/charisma-master-api-gateway:latest
FRONTEND_IMAGE=ghcr.io/desmitry/charisma-master-frontend:latest

# Celery worker log level
CELERY_LOG_LEVEL=info