DEBUG=True
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

ENVIRONMENT=development

WHISPER_MODEL_PATH=base
WHISPER_DEVICE=cuda
WHISPER_COMPUTE_TYPE=int8

OPENAI_API_KEY=secret-openai-api-token
OPENAI_MODEL_NAME=gpt-3.5-turbo
GIGACHAT_CREDENTIALS="secret-gigachat-api-token"
GIGACHAT_MODEL_NAME=GigaChat-2