SERVICE_HOST=0.0.0.0
SERVICE_PORT=8000

ORIGIN_URL=http://localhost:3030
MODE=prod

REDIS_URL=redis://redis:6379/0

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

WHISPER_MODEL_NAME=whisper-1
WHISPER_MODEL_TYPE=base
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8

OPENAI_API_KEY=your-secret-openai-key
OPENAI_MODEL_NAME=gpt-3.5-turbo

GIGACHAT_CREDENTIALS=your-secret-gigachat-credentiaal
SBER_SALUTE_CREDENTIALS=your-secret-sber-salute-credential
GIGACHAT_MODEL_NAME=GigaChat-2
