DEBUG=True

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

ENVIRONMENT=production
BACKEND_ORIGIN_URL=http://localhost:3030

WHISPER_MODEL_PATH=base
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8

OPENAI_API_KEY=openai-api-key
OPENAI_MODEL_NAME=gpt-3.5-turbo
GIGACHAT_CREDENTIALS="gigachat-api-key"
GIGACHAT_MODEL_NAME=GigaChat-2
