SERVICE_HOST=0.0.0.0
SERVICE_PORT=8000

ORIGIN_URL=http://localhost:3030
MODE=prod

REDIS_URL=redis://redis:6379/0

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

DATABASE_URL=postgresql://charisma:charisma@postgres:5432/charisma
SEAWEEDFS_ENDPOINT=seaweedfs-s3:8333
SEAWEEDFS_ACCESS_KEY=
SEAWEEDFS_SECRET_KEY=
